* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Karla';
}

body {
  background-color: #191919;
  color: #f2f2f2;
  min-height: 100vh;
 
}

button {
 cursor: pointer;
}

.container-light {
  background-color: rgba(255, 255, 255, 0.885);
  height: 100vh;
  
  }

/* .alert {
  margin-right:40px;
  margin-left:40px;
  height: 100px;
} */